  
  p{
    font-size: 50px;
  }
  button{
    font-size: 15px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    background-color: orange;
  }
  button:hover{
    background-color: rgb(210, 144, 22);
  }
  button:disabled{
    cursor: default;
    background-color: rgb(210, 144, 22);;
  }
  